body{
    font-size: 16px;
    background-image: url(../media/img/Backgrounds/about-bg.png);
    background-size: cover;
}

main{
    padding-left: 8%;
    padding-right: 8%;
}

/* Desktop */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

h1{
    font-family: 'Sora', sans-serif;
    font-size: 6vw;
    color: white;
}

header p{
    padding-top: 1%;
    color: #b999ffcf;
    font-size: x-large;

}

.developers{
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    padding: 0% 0% 0% 0% ;
    align-items: center;
}

h2{
    font-family: 'Sora', sans-serif;
    font-size: 2.5vw;
    color: white;
    align-self: center;
}

.cards-container{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
}

/* Card */

.card:hover{
    filter: drop-shadow(0px 0px 20px #000000);
}

.card{
    min-width: 200px;
    width: 400px;
    border-radius: 40px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.25) 100%);
    margin-bottom: 5% ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0%;
    max-width: 500px;

}

.card img{
    padding: 0%;
    margin: 0%;
    max-width: max-content;
}


h3{
    font-size: 1.5vw;
    padding: 3%;
}


h4{
    padding-bottom: 5%;
    font-size: larger;
    color: #b999ff;
}

.card p{
    color: rgba(255, 255, 255, 0.827);
    padding-bottom: 6%;
    padding-inline: 5%;
    text-align: center;
    word-wrap: break-word;
}

/* End of Card */

/* Bottom section */
.workflow{
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 2%;
    margin-right: 2%;
}

.workflow article{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.workflow article h3{
    padding: 0;
    margin-bottom: 4%;
    color: #b999ff;
}

.workflow img{
    width: 30vw;
}

.workflow article a{
    font-size: x-large;
    border-radius: 10px;
    border-color: #b999ff;
    margin-top: 5%;
    color: #b999ff;
    text-align: center;
    border-style: solid;
}

.workflow article a:hover{
    color: #702eff;
    border-color:#702eff ;
}

/* Mobile */
/* Tablet */
@media only screen and (max-width: 1000px) {
    body{
        background-position-x: -1000px;
    }
    header{
        margin-top: 20%;
    }
    h1{
        font-size: 7vw;
    }

    h2{
        font-size: 2em;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .cards-container{
        align-items: center;
        flex-direction: column;
        padding: 0%;
    }

    .card{
        width: 110%;
        margin: 0%;
        /* padding-left: 4%;
        padding-right: 4%; */
        margin-bottom: 12%;
    }

    .workflow{
        flex-direction: column;
    }

    .workflow img{
        width: 100%;
        align-self: center;
        justify-self: center;
    }

    .workflow h2{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .workflow article h3{
        font-size: larger;
    }

    .card h3{
        font-size: larger;
    }

    .card h4{
        font-size: medium;
    }
}

@media only screen and (max-width: 440px) { 
    header{
        margin-top: 30%;
    }
    h1{
        font-size: 5vh;
    }

    header p{
        font-size: large;
        margin-bottom: 10%;
    }

    .developers h2{
        font-size: x-large;
        text-align: center;
    }

    .cards-container{
        align-items: center;
    }

    .card{
        width: 90%;
    }

    .card img{
        height: 60vh;
    }

    .card h3{
        font-size: larger;
    }

    .card h4{
        font-size: medium;
    }

    .workflow{
        padding: 0%;
        margin: 0;
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .workflow h2{
        font-size: x-large;
    }

    .workflow a{
        font-size: larger;
    }

    .workflow img{
        width: 100%;
    }
}