body{
    background-color: white;
}
main{
    background-image: url(../media/img/Backgrounds/dlvr-bg.png);
    background-size: cover;
}

nav a{
    color: black;
}

.nav-btn{
    border-color: black;
}

#drop-down{
    color: black;
}
nav{
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 50%);
}


.carousel-container{
    display: flex;
    margin-top: 10%;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: space-between;
    margin-bottom: 10%;
}

embed{
    border-width: 6px;
    border-radius: 20px;
    border-style: solid;
    border-color: #B999FF;
    width: 60vw;
    height: 90vh;
}


button{
    border-color: none;
    width: 5em;
    height: 5em;
    border-radius: 100px;
    background-color: #B999FF;
}

button i{
    font-size: xx-large;
}


@media only screen and (max-width: 1000px) {
    nav ul {
        background-color: rgb(255, 255, 255);
    }
}
