/* Desktop*/
body{
    font-size: 16px;
}


/* Section 1 */
.section-1{
    height: 100vh;
    background-image: url(../media/img/Backgrounds/section-1-bg.png);
    background-size: cover;
    z-index: 1;
}


.header-left > a{
    border-style: solid;
    border-color: white;
    padding: 0% 10% 0% 10% ;
    border-radius: 10px;
}

.section-1 header{
    z-index: 1;
    padding: 8% 8% 0% 8%; 
    overflow: hidden;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    height: 100%;
}

.header-left > a{
    font-size: 2vw;
    padding: 0% 6% 0% 6% ;
}

.section-1 header img{
    width: max-content;
    max-width: 105%;
}

.section-1 header .header-left{
    flex: 1;
    padding-bottom: 8%;
}

.section-1 header h1{
    font-family: 'Sora', sans-serif;
    font-size: 6.5vw;
    color: white;
}

.section-1 header p{
    padding-top: 5%;
    padding-bottom: 10%;
    color: rgba(255, 255, 255, 0.764);
    font-size:larger;
}

.section-1 header .header-right{
    padding-left: 12%;
    padding-bottom: 5%;
    flex: 2;
    display: flex;
    justify-content: end;
}

/* Video Player Style */



/* Section 2 */

.section-2 p{
    font-size: 1.2em;
}

.section-2 {
    border-radius: 30px; 
    background-color: rgb(255, 255, 255);
    background-image: url(../media/img/Backgrounds/section-2.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    padding: 8% 8% 8% 8%; 
    align-items: center;
    justify-content: space-between;
}

.section-2 article{
    width: 50%;
}

.section-2 article h1{
    font-family: 'Sora', sans-serif;
    font-size: 4vw;
    color: #B999FF;
}

.section-2 article p{
    color: #B999FF;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size:1.2vw;
    text-align: justify;
}

video {
    border-radius: 30px;
    max-width: 800px;
    width: 80%;
    margin-left: 10%;
}


/* Section 3 */
.section-3 {
    background-image: url(../media/img/Backgrounds/section-3.png);
    background-size: cover;
    padding: 4% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-3 header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.section-3 header h1{
    font-family: 'Sora', sans-serif;
    font-size: 4vw;
    color: #B999FF;
}

.section-3 header p{
    max-width: 700px;
    text-align: center;
    padding-top: 4%;
    color: rgba(255, 255, 255, 0.764);
    font-size:x-large;
}

.features-container{
    display: flex;
    padding-bottom: 15%;
    justify-content: space-between;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 4% 0% 4%;
    justify-content: space-between;
}

.feature a{
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    font-size:2vw;
    padding: 5% 0% 5% 0%;
}

.feature p{
    font-family: 'Sora', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.more{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more h2{
    font-family: 'Sora', sans-serif;
    font-size: 2.5vw;
}

.more p{
    padding: 5% 0% 5% 0%;
    font-family: 'Sora', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    max-width: 400px;
}

.more a{
    margin-top: 2%;
    font-size: 1.5vw;
    border-style: solid;
    color: #B999FF;
    border-color:#B999FF;
    padding: 1% 10% 1% 10% ;
    border-radius: 10px;
}





/* Mobile */
/* Tablet */
@media only screen and (max-width: 1000px) {

    /* Section 1 */

    header{
        display: flex;
        flex-direction: column-reverse;
    }

    .header-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-left a{
        font-size: 2em;
    }

    /* Section 2 */

    .section-2{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    .section-2 article{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section-2 article h1{
        align-self: center;
        justify-self: center;
        font-size: 6vw;
    }

    .section-2 article p{
        font-size:2.5vw;
    }

    video{
        margin: 0;
    }

    /* Section 3 */
    .features-container{
        flex-direction: column;
    }

    .section-3 header h1{
        font-size: 6vw;
    }

    .section-3 header p{
        font-size: larger;
    }

    .feature p{
        max-width: 70vw;
        padding-bottom: 5%;
    }

    .feature a{
        font-size: x-large;
    }

    .feature{
        padding-bottom: 10%;
    }

    .more h2{
        font-size: 5vw;
    }

    .more a{
        font-size: x-large;
    }


}

/* Phone */
@media only screen and (max-width: 440px) { 

    /* Section 1 */
    .header-right{
        max-height: 50%;
    }

    header{
        margin-bottom: 10%;
    }

    /* Section 2 */


    .section-2 article h1{
        font-size: 10vw;
    }

    .section-2 article p{
        font-size: 1.8vh;
    }

    video{
        width: 100%;
    }

    /* Section 3 */

    .section-3 header h1{
        font-size: 10vw;
    }

    .more h2{
        font-size: 7vw;
    }


    .section-3 article a{
        text-align: center;
    }



    .section-3 article img{
        width: 80%;
    }

}


/* Animations */

/* Little arrow animation */

.hover-effect {
    position: relative;
    display: inline-block;
}

.hover-effect:hover .uil-arrow-down {
    transform: translateY(5px);
}

.uil-arrow-down {
    transition: transform 0.3s ease;
    display: inline-block; /* Add this line to ensure the arrow icon is displayed properly */
}
