body{
    background-color: white;
    background-image: url(../media/img/Backgrounds/statistics-bg.png);
    background-size: cover;
}
main {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Nav  */
nav a{
    color: black;
}

.nav-btn{
    border-color: black;
}

#drop-down{
    color: black;
}


/* End of nav */

h1{
    font-weight: lighter;
    margin-bottom: 5%;
    color: #1B1B1B;
    font-family: 'Sora', sans-serif;
    font-size: 8vh;
}

.sidebar {
    background-color: #1B1B1B;
    border-radius: 50px;
    width: 50vw;
    padding: 20px;
    margin-bottom: 30%;
}

.sidebar h1{
    color: white;
}
.gameQuery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.gameForm {
    margin-top: 20px;
    background-color: black;
    border: 1px solid #ddd;
}
.table {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table img {
    max-width: 100%;
    max-height: 100%;
}
#login-form{
    margin-bottom: 20%;
    height: 50vh;
    width: 35%;
    background-color: #1B1B1B;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 50px;
}

#loginForm{
    margin-top: 10%;
    flex-direction: column;
    display: flex;
    height: 100%;
}

#comparison option {
    color: black;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    height: 15%;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 30px;
}

#loginForm input{

    background-color: #1B1B1B;
}

input::placeholder{
    background-color:#1B1B1B ;
    font-size:1.5vw ;
    color: white;
}

button {
    margin-top: 10%;
    font-size: 1.5vw;
    width: 100%;
    padding: 10px;
    background-color:#B999FF;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
button:hover {
    color: #1B1B1B;
    background-color: rgb(255, 255, 255);
}


.queryForm input[type="text"],
.queryForm input[type="number"],
.queryForm input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    color: black;
}

.queryForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    color: black;
    background-color: white;
}
#logoutButton {
    width: 50%;
}



@media only screen and (max-width: 1000px) {

    nav ul{
        background-color: white;
    }
    nav{
        background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 50%);
    }

    main{
        display: flex;
        justify-content: center;
    }
    #login-form{
        width: 60%;
        margin-bottom: 60%;
    }

    #login-form button{
        font-size: 1rem;
    }

    .sidebar{
        width: 70%;
    }

    .sidebar h1{
        font-size: 2rem;
        color: white;
    }

    .sidebar button{
        font-size: 1rem;
    }   

}

@media only screen and (max-width: 440px) { 
    h1{
        font-size: 3rem;
        margin-top: 20%;
    }

    .sidebar{
        border-radius: 30px;
    }

    #login-form{
        border-radius: 30px;
    }
}