main {
    display: flex;
}
.sidebar {
    width: 30%;
    padding: 20px;
    border: 1px solid blue;
}
.gameQuery {
    margin-top: 20px;
}
.gameForm {
    margin-top: 20px;
    background-color: black;
    border: 1px solid #ddd;
}
.table {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table img {
    max-width: 100%;
    max-height: 100%;
}
#loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: black;
    border: 1px solid #ddd;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
#comparison option {
    color: black;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    color: black;
}

button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: darkred;
}

.queryForm input[type="text"],
.queryForm input[type="number"],
.queryForm input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    color: black;
}

.queryForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    color: black;
    background-color: white;
}
#logoutButton {
    width: 50%;
    float: left;
}
